<div class="text-center mt-5 ">
  <h1>POKÉDEX</h1>
</div>

<!-- <img src="{{urlImage}}" alt="Foto Pokemon"><br> -->
<div class="row justify-content-center mt-5">
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Pika}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameP}}</p>
        <p class="card-text">Código: {{indexP}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Char}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameC}}</p>
        <p class="card-text">Código: {{indexC}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Bu}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameBu}}</p>
        <p class="card-text">Código: {{indexBu}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Sq}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameSq}}</p>
        <p class="card-text">Código: {{indexSq}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Ge}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameGe}}</p>
        <p class="card-text">Código: {{indexGe}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Ge}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameGe}}</p>
        <p class="card-text">Código: {{indexGe}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Sq}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameSq}}</p>
        <p class="card-text">Código: {{indexSq}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Bu}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameBu}}</p>
        <p class="card-text">Código: {{indexBu}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Char}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameC}}</p>
        <p class="card-text">Código: {{indexC}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-2 m-2">
    <div class="card bg-light border border-secondary">
      <img src="{{Pika}}" class="card-img-top" alt="...">
      <div class="card-body text-center bg-white">
        <p class="card-title border border-success rounded">Nombre: {{nameP}}</p>
        <p class="card-text">Código: {{indexP}}</p>
      </div>
    </div>
  </div>

</div>
